* {
	--bleu-cobalt: #22427c;
	--orange: #d5ae21;
	--orange-fluo: #ff7f00;
	--bleu-clair: #090a0a;
	--vert: #096a09;
	--vert-clair: #34c924;
	--orange-clair: #dd7b40;
}

.nova-about {
	line-height: 2;
}

.novatic {
	font-weight: bold;
	color: var(--orange-fluo);
}

.novatic-blue {
	font-weight: bold;
	/* color: #007bff; */
	color: var(--bleu-cobalt);
}

ul.nova-list {
	text-align: left !important;
	padding-left: 5rem;
}

ul.nova-list li {
	font-weight: bolder;
	list-style: none;
	position: relative;
	padding: 0 0 0 20px;
}

li.event::before {
	content: "🎉";
	/* position: absolute;
	left: 0;
	top: 5px;
	width: 10px;
	height: 10px;
	background: var(--orange-clair); */
}

li.house::before {
	content: "🏘";
}

li.export::before {
	content: "🔄";
}

.card-text {
	font-size: 0.8rem;
}

.card img {
	height: 40%;
}

.question {
	color: var(--orange-fluo);
	position: absolute;
	right: 20%;
	z-index: -2;
	opacity: 0.2;
	rotate: 10deg;
}

.question i {
	font-size: 20rem;
}

.img-hover-zoom {
	/* height: 300px; [1.1] Set it as per your need */
	overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

.img-hover-zoom .img-fluid {
	transition: transform 0.8s ease-in-out;
}

.img-hover-zoom:hover .img-fluid {
	transform: scale(1.2);
}

.img-vision-overlap {
	position: absolute;
	top: 25%;
	left: 80%;
	width: 80%;
}

.featured-text {
	backdrop-filter: blur(5px);
}

.nova-box {
	position: relative;
	display: block;
	width: 100%;
}

.custom-underline {
	position: relative;
	display: inline-block;
	text-align: center;
}

.custom-underline::after {
	content: "";
	position: absolute;
}

.nova-box .custom-underline::after {
	bottom: -20%;
	height: 0.1em;
	width: 0%;
	left: 0;
	background-color: var(--orange-fluo);
	transition: 0.5s ease all 0.3s;
}

.img-hover-zoom:hover .custom-underline::after {
	width: 50%;
	transition: 0.3s ease all;
}

.img-mission {
	/* border: solid; */
	height: 100%;
	background-image: url("../assets/img/pexels-anna-shvets-5324967.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.img-mission-overlap {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
}

.img-mission-overlap .featured-text {
	backdrop-filter: blur(10px);
}
